@font-face {
  font-family: "Google Sans";
  src: url("/static/GoogleSans-Bold.woff") format("woff2"),
      url("/static/GoogleSans-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Normal";
  src: url("/static/GoogleSans-Bold.woff") format("woff2"),
      url("/static/GoogleSans-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#title {
  font-family: "Google Sans" !important;
  font-size: 20px;
}

.flip {
  width: 100%;
  height: 100%;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}